.navbar-toggler {
  padding: 0 !important;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: none !important;
}
.logo {
  height: 80px;
}
.mlAuto{
    margin-left: auto;
}
.image-margin{
  margin-right: 60px !important;
}
@media(max-width: 536px){
  .logo{
    height: 60px;
  }
}

@media(max-width: 435px){
  .logo{
    height: 40px;
  }
}

@media(max-width: 342px){
  .logo{
    height: 30px;
  }
}
